.title-design{
  font-weight: bold;
  color: beige;
  font-size: 130%;
  text-shadow: 1px 1px 2px pink;
}
.mr-auto {
  margin-left: 80% !important;
}
.resume_design {
  color: white;
}
.resume_design:hover {
  color: rebeccapurple;
}
.home_design {
  color: white;
  margin-right: 35% !important;
}
.home_design:hover {
    color: rebeccapurple;
  }
  .nav_design{
    margin-bottom: 2%;
  }
  
